<head>
    <%= require('html-loader!../src/partials/_head.html') %>
</head>
<body class="container" data-template="<%= htmlWebpackPlugin.options.filename %>">
    <header>
        <%= require('html-loader!../src/partials/_header.html') %>
    </header>
    <main class="container">
        <div class="information">Rustling up merchandise...</div>
        <ul class="weapons-list">
            <li>
                <div data-id="1">
                </div>
            </li>
        </ul>
    </main>
    <footer>
        <%= require('html-loader!../src/partials/_footer.html') %>
    </footer>
</body>
</html>
