<head>
    <%= require('html-loader!../src/partials/_head.html') %>
</head>
<body class="container" data-template="<%= htmlWebpackPlugin.options.filename %>">
    <header>
        <%= require('html-loader!../src/partials/_header.html') %>
    </header>
    <main class="container">
        <div class="information">Rustling up merchandise...</div>
        <ul class="weapons-list">
            <li data-id="1">
                <div class="search-result">
                    <div class="search-result__image-column">
                        <a href="#">
                            <img src="/images/weapons/axe1.jpeg" alt="axe">
                        </a>
                    </div>
                    <div class="search-result__details-column">
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        <%= require('html-loader!../src/partials/_footer.html') %>
    </footer>
</body>
</html>
