/* Default (Mobile) */

.header-upper {
    display: none;
}

.header-upper__header {
    text-align: center;
    font-family: Papyrus;
    margin: 10px;
}

.header-upper__title {
    color: #9d0a0e;
    font-size: 40px;
}

.navbar {
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li input {
    display: block;
    margin: 8px;
    font-size: 24px;
    padding: 2px 2px;
    width: 400px;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
    color: #fab7b9;
    transition-duration: 0.4s;
}

.navbar .navbar__li-pay a:hover {
    color: #fab700;
    transition-duration: 0.4s;
}

.navbar__li-buttons {
    float: left;
}

.navbar__li-search {
    float: left;
    width: 20px;
}

.navbar__li-pay {
    float: right;
}

.column {
    display: inline-block;
}

.navbar .navbar__li-search {
    width: 100%;
}


.navbar .weapons-search {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    float: left;
    width: 100%;
}

.navbar .weapons-search__input {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

/* > large mobile */
@media (min-width: 451px) {
    .header-upper {
        display: block;
    }

    .header-upper__logo-face {
        width: 135px;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
    }

    .header-upper__logo-face:hover {
        animation: somersault 0.65s linear;
        cursor: pointer;
    }

    .navbar__li-search {
        float: right;
        width: inherit;
    }

    .navbar .navbar__li-search {
        width: inherit;
    }

    .navbar .weapons-search {
        width: inherit;
    }


    .navbar .weapons-search__input {
        width: auto;
    }
}

/* > tablet */
@media (min-width: 769px) {
    .header-upper__logo-face {
        display: inline;
    }
}
