.header-upper__logo-face:hover {
    animation: somersault 646.988ms cubic-bezier(0.44, 0.43, 0.65, 0.65) 0ms;
}

@-webkit-keyframes somersault {
    0% { transform: translateY(0px) rotate(0deg) scale(1); }
    50% { transform: translateY(-20px) rotate(-180deg) scale(2); }
    100% { transform: translateY(0px) rotate(-360deg) scale(1); }
}
