body {
    margin: 0;
    font-size: 28px;
    font-family: helvetica;
    background-image: url("/images/white-paper-background.jpg");
}

form {
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
}

button {
    cursor: pointer;
}

.information {
    margin: 100px 0;
    font-size: 28px;
    font-family: helvetica;
    text-align: center;
}

.currency-gp {
    color: #bfa61f;
}

.currency-sp {
    color: #888;
}

.currency-cp {
    color: #cd7f32 
}

@media (min-width: 450px) {
    body {
        margin: 4px;
    }
}
