body {
  font-family: Papyrus;
}

.header-upper {
    /*vertical-align: middle;*/
}
.header-upper__title {
    color: #9d0a0e;
    font-size: 40px;
    /*padding: 10px;*/
}
.header-upper__logo-face {
    width: 10%;
    height: 10%;
    /*float: left;*/
    /*padding: 10px;*/
}
.header-navbar {
    /*clear: both;*/
}
