.results-info {
    background: #cccccc80;
    margin: 3px;
    padding: 4px;
    color: #5f4344;
    font-size: 24px;
    overflow: hidden;
}

.results-info .stats {
    float: left;
    display: none;
    margin-top: 4px;
}

.results-info .page-buttons {
    float: right;
    padding: 2px 4px;
}

.results-info .page-pos {
    float: right;
    margin-top: 4px;
}

.results-info .page-buttons .btn {
    padding: 3px 2px 1px;
    background: #ddd;
}

.results-info .page-buttons img {
    filter: grayscale(100%);
}

.results-info .page-buttons .btn:hover, 
.results-info .page-buttons img:hover {
    background-color: #fff;
    filter: inherit;
}

.results-info .page-buttons .btn:focus {
    outline:0;
}
.results-info .page-buttons .btn:active,
.results-info .page-buttons img:active {
    background-color: #ccc;
}

.results-info .page-buttons .btn-disabled *,
.results-info .page-buttons .btn-disabled *:active,
.results-info .page-buttons .btn-disabled *:hover,
.results-info .page-buttons .btn-disabled:active ,
.results-info .page-buttons .btn-disabled:hover ,
.results-info .page-buttons .btn-disabled {
    filter: grayscale(100%);
    background: #ccc;
}


@media (min-width: 673px) {
    .results-info .stats {
        display: block;
    }
}

